html, body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* ou overflow-x: hidden se quiser scroll vertical global */
}/* You can add global styles to this file, and also import other style files */
